.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.post-price {
	font-size: 1.5rem;
}

.post-signature {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 11px;
}

.user-card {
	background: hsl(206, 96%, 90%);
	border-radius: 4px;
	width: 200px;
	padding: 10px;
	display: flex;
	align-items: center;
	color: #555555;
}

.user-card img {
	margin-right: 10px;
}

.images-card {
	background: hsl(206, 96%, 90%);
	border-radius: 4px;
	width: 300px;
	margin-left: 265px;
	margin-bottom: 30px;
	padding: 10px;
	display: flex;
	align-items: center;
	color: #555555;
}

.images-card img {
	margin-right: 10px;
}

.images-card button {
	margin-left: 10px;
}

.copy-button {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
	margin: 12px 0 12px 0;
	height: 45px;
	border-radius: 4px;
	padding: 0 5px;
	border: 1px solid #eeeeee;
}

.copy-button input {
	height: 100%;
	border: none;
	outline: none;
	font-size: 15px;
}

.noImages {
	margin-left: 265px;
}

.search-bar {
    width: 100%;
}

.advanced-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#priceRange {
	width: 100%;
	margin-top: 10px;
}
